.header {
  .wrapper-inner {
    padding: 10px 22px;
    img {
      width: 200px;
      height: auto;
    }
    p {
      font-size: 15px;
      padding-left: 75px;
      margin-bottom: 0;
    }
  }
}

.h1 {
  .wrapper-inner {
    padding: 22px 22px;
    font-size: 28px;
    h1 {
      text-align: center;
      font-size: 28px;
      margin-bottom: 0;
    }
    p {
      font-size: 21px;
    }
  }
}

.line {
  height: 1px;
  width: 100px;
  background-color: $blue-color;
}
.text-white {
  color: $white-color;
}

.text-blue {
  color: $blue-color;
}

.text-bold {
  font-weight: 600;
}

.bg-blue {
  background-color: $blue-color;
}


.text-under-img {
  .wrapper-inner {
    line-height: 20px;
    padding: 10px;
    color: white;
    font-size: 17px;
  }
}

.button-small {
  background-color: $orange-color;
  border-bottom: solid 3px $border-orange-color;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 5px;
  border-radius: 5px;
  color: $white !important;
  font-size: 14px;
  &:hover {
    background-color: $border-orange-color;
  }
}
.price-product {
  font-weight: 600;
  padding: 0 5px;
}

.button a {
  border-bottom: solid 3px $border-orange-color !important;
}

p {
  font-size: 16px;
  line-height: 20px;
}

.img-product {
  width: 120px;
}

.footer {
  background-color: #222525;
  color: $footer-text-color;
  a {
    color: $footer-text-color;
  }
  .menu-item a {
    color: $footer-text-color;
  }
  span { color: $footer-text-color; }
}

.companies {
  background-color: #f6f6f8;
  border-top: solid 2px $blue-color;
  padding: 15px 10px 1px 10px;
  a {
    color: $blue-color;
  }
}

.social-links {
  a {
    display: inline-block;
  }
  img {
    //float: right;
    width: 50px !important;
    height: 50px !important;
    margin: 0 auto;
  }
}


.cart-product {
  .wrapper-inner {
    padding: 10px;
    p {
      text-align: center;
    }
  }
}