.header {
  background-color: $black;
}

.text-white {
  color: $white-color;
}

.text-blue {
  color: $blue-color;
}

.text-bold {
  font-weight: 600;
}

.bg-blue {
  background-color: $blue-color;
}

.bg-light-gray {
  background-color: $bg-gray;
}

.button-big {
  background-color: $orange-color;
  border-bottom: solid 3px $border-orange-color;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 10px;
  border-radius: 5px;
  color: $white !important;
  font-size: 20px;
}

.button-small {
  background-color: $orange-color;
  border-bottom: solid 3px $border-orange-color;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 5px;
  border-radius: 5px;
  color: $white !important;
  font-size: 16px;
}


p {
  font-size: 16px;
}

.img-product {
  width: 120px;
}

.footer {
  background-color: #222525;
  color: $footer-text-color;
  a {
    color: $footer-text-color;
  }
  .menu-item a {
    color: $footer-text-color;
  }
  span { color: $footer-text-color; }
}

.social-links {
  a {
    display: inline-block;
  }
  img {
    //float: right;
    width: 50px !important;
    height: 50px !important;
    margin: 0 auto;
  }
}